<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="event_name">
        <observer name="customer_login_observer" instance="Pattern\Designs\Observer\ObserverClass" />
    </event>
</config>
